<!-- example.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS Example</title>
    <link rel="stylesheet" href="/code.css">
</head>
<body>
  <h1>.................................</h1>
  <%- include("./partials/list.ejs")%>
</body>
</html>

